<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

Standalone datepicker:
{{pikaday-input format='dddd MMMM Do YYYY, h:mm:ss a' theme='dark-theme' onSelection=(action 'doSomethingWithSelectedValue')}}

<br>

Datepicker with bound and set value:
{{pikaday-input value=startDate onSelection=(action (mut startDate)) format='DD.MM.YYYY'}}
{{startDate}}
<br>
<button {{action "clearStartDate"}}>Clear Date</button>
<br>

Datepicker already disabled before it's rendered:
{{pikaday-input disabled="disabled"}}

<br>

Inputless datepicker:
{{pikaday-inputless onSelection=(action (mut someDate))}}
{{someDate}}